.hero {
  grid-area: 1 / 2 / 2 / 3;

  &__text {

    font: {
      width: 700;
      size: 40px;
    }

    text-shadow: 4px 4px 0 rgba(191, 191, 191, 0.6);
  }
}

@media (max-width: 1170px) {
  .hero__text {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {

  .hero {
    margin-top: 65px;
  }
  .hero__text {
    font: {
      weight: 700;
      size: 20px;
    }
    text-shadow: none;
  }
}