.button__try {
  margin-top: 49px;
}

.button {
  width: 100%;
  background-color: $hover-color;
  border: none;
  border-radius: 10px;
  padding: 17px 0 17px;

  font: {
    weight: 700;
    size: 1rem
  }
  
  &:hover {
    border: 1px solid $main-color;
    color: $main-color;
  }
}