// $font-color: #666666;
// $font-color-bold: #42446E;
$font-black: #000000;
$font-white: #ffffff;
// $font-green: #00933D;
// $font-blue: #007DC4;
// $font-red: #DB2017;
// $font-gold: #F8C400;
$main-color:#9564AA;
$hover-color: #FFCF2D;
$transparent: transparent;
$DM-Sans: "DM Sans";
$Poppins: "Poppins";
$wrapper-max-width: 1050px;
