@import './modules/reset';
@import './modules/variables';
@import './modules/header';
@import './modules/sectionNavigation';
@import './modules/sectionAside';
@import './modules/hero';
@import './modules/discount';
@import './modules/offers';
@import './modules/slider';
@import './modules/sectionButtonTry';
@import './modules/sectionCheckboxAgree';
@import './modules/responsibilities';

body{
  font-family: Ubuntu;
  font-size: 16px;
  //position: relative;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.main__wrapper {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 30px;
  padding-top: 30px;
  //align-items: start;
}

.line {
  margin-top: 20px;
  height: 2px;
  border: 1px solid  rgba(149, 100, 170, 0.2);
  grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 1170px) {
  .main__wrapper {
    padding: 30px 2rem;
  }
}







// .content__wrapper {
//   margin: 0 auto;
//   padding-top: 30px;
//   //padding: 30px 2rem;
//   // display: grid;
//   // grid-template-columns: repeat(2, 1fr);
//   // grid-template-rows: 1fr;
//   // column-gap: 30px;


//   display: flex;
//   gap: 30px;
//   // flex-direction: row-reverse;
//   // gap: 30px;
//   // height: calc(100vh - 130px)
//   //bottom: 0;
// }

// .main__wrapper {
//   max-width: 870px;
// }

// .line {
//   margin-top: 20px;
//   border: 1px solid  rgba(149, 100, 170, 0.2);
//grid-area: 2 / 2 / 3 / 3;
// }

// @media (max-width: 1170px) {
//   .content__wrapper {
//     padding: 30px 2rem;
//     // display: grid;
//     // grid-template-columns: repeat(2, 1fr);
//     // grid-template-rows: 1fr;
//     // column-gap: 30px;
//   }
// }

// // @media (max-width: 992px) {

// // }
// @media (max-width: 767px) {

//   .content__wrapper {
    
//     max-width: 320px;
//     flex-direction: column;

//     & > .sidebar * {
//       display: none;
//     }
//   }
  
// }

@media (max-width: 575px) {


  .wrapper {
    background-color: aqua;
    padding: 0 20px;
    width: 320px;
    margin: 0 auto;
  }

  .content__wrapper, .main__wrapper {
    margin: 0;
    padding: 0;
  }

}
